<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>food_front</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowDeskServlet</display-name>
    <servlet-name>ShowDeskServlet</servlet-name>
    <servlet-class>com.et.controller.desk.ShowDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDeskServlet</servlet-name>
    <url-pattern>/ShowDeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFoodServlet</display-name>
    <servlet-name>ShowFoodServlet</servlet-name>
    <servlet-class>com.et.controller.food.ShowFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFoodServlet</servlet-name>
    <url-pattern>/ShowFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.et.controller.food.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFoodServlet</display-name>
    <servlet-name>MyFoodServlet</servlet-name>
    <servlet-class>com.et.controller.food.MyFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFoodServlet</servlet-name>
    <url-pattern>/MyFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientCartServlet</display-name>
    <servlet-name>ClientCartServlet</servlet-name>
    <servlet-class>com.et.controller.cart.ClientCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientCartServlet</servlet-name>
    <url-pattern>/ClientCartServlet</url-pattern>
  </servlet-mapping>
</web-app>